flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6

numpy==1.26.4
pandas==2.2.2          # transitive: required by shap
scikit-learn==1.5.1    # transitive: required by shap

shap==0.46.0

gunicorn==22.0.0
